[submodule "msgateway"]
	path = msgateway
	url = git@github.com:appSpringMS/msgateway.git
[submodule "msdiscovery"]
	path = msdiscovery
	url = git@github.com:appSpringMS/msdiscovery.git
[submodule "mscustomer"]
	path = mscustomer
	url = git@github.com:appSpringMS/mscustomer.git
